.homePage .latest-added{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.5px;
}

.homePage .latest-added p{
    font-weight: normal;
    font-size: 14px;
    color: grey;
    margin: 5px 30px;
}

.homePage h3.section-header{
    width: 100%;
    background: var(--backgroundGradient1Straight);
    font-size: 20px;
    color: #fefe;
    justify-content: space-between;
}

.homePage .icon{
    cursor: pointer;
}

.section{
    row-gap: 3em;   
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

