.homePage .latest-added{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.5px;
}

.homePage .latest-added p{
    font-weight: normal;
    font-size: 14px;
    color: grey;
    margin: 5px 30px;
}

.homePage h3.section-header{
    width: 100%;
    background: var(--backgroundGradient1Straight);
    font-size: 20px;
    color: #fefe;
    justify-content: space-between;
}

.homePage .icon{
    cursor: pointer;
}

.homePage .section{
    overflow: hidden;
}

.homePage .section,
.homePage .section .items{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    white-space: nowrap;
    gap: 40px; 
    flex-basis: 18em;
    transition: all 500ms linear;
    position: relative;
}

.homePage .section.last-added{
    justify-content: center;
}

.homePage .arrows{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    justify-content: space-between;
}


.homePage .arrows .left,
.homePage .arrows .right 
{
    background: linear-gradient(to right, transparent,transparent,rgba(0, 0, 0, 0.5));
    width: 200px;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
}

.homePage .arrows .left{
    background: linear-gradient(to left, transparent,transparent,rgba(0, 0, 0, 0.5));
    transition: all 200ms linear;
}
