:root{
    --backgroundGradient: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    --backgroundGradient1: linear-gradient(to right bottom,rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));
    --backgroundGradient1Straight: linear-gradient(to right,rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));
    --buttonColor: #9b27af;

    --transition-delay : 250ms;
    --messageBoxDelay: 1s;

    --panel-width: 70%;
}

@font-face {
    font-family: customFont;
    src: url(./assets//font.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #fefe;
}

.material-symbols-outlined.filled, .isInSaved{
    font-variation-settings:
    'FILL' 1
  }

  


a{
    color: inherit;
    text-decoration: none;
}

/* input[type="radio"]{
    display: none;
} */

input[type="radio"]:checked + .radioButton{
    background: grey;
}

.radioButton{
    display: flex;
    border: 2px solid grey;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: relative;
    cursor: pointer;
}
input[type="radio"]:checked + .radioButton::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: blueviolet;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.styledButton{
    border-radius: 25px;
    padding: 10px 5px;
    margin: 50px 0;
    border: none;
    outline: none;
    background: var(--buttonColor);
    color: white;
    font-weight: bold;
    font-size: 20px;
    /* box-shadow:  0 0 5px orange; */
    text-shadow: 0 0 2px black;
    cursor: pointer;
    transition: all 100ms;
    width: 50%;
}

.styledButton:hover{
    scale: 0.99;
    /* box-shadow:  0 0 10px orange; */
    transition: all 100ms;
}

.flex{
    display: flex;
    align-items: center;
}

.container {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .container {
    display: block;
    flex-direction: row;
    align-items: flex-start; 
}

.headerContainer{
    padding: 1% 4%;
}

form .visibility{
    color: grey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    cursor: pointer;
}


input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}