.userprofile .change-password{
    margin-top: 5em;
}

.userprofile label{
    font-size: 18px;
}

.userprofile .change-password h3{
    font-size: 1.75em;
    margin: 20px 0;
}

.userprofile .label{
    margin-top: 2em;
}

.userprofile .input{
    border: 2px solid grey;
    width: 75%;
}

.userprofile .input input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

.userprofile .styledButton{
    border-radius: 10px;
}
