.ann img{
    width: 20em;
    height: 20em;
}

.ann{
    width: var(--panel-width);
    background: #fefefe;
    margin: 6em 15em;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
}

.ann .top{
    justify-content: space-between;
    width: 100%;
}

.ann .top .panel{
    width: 60%;
    background: #fefe;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.ann .top h3{
    justify-content: space-between;
}

.ann .panel div{
    margin-top: 1em;
}

.ann .top h3 p{
    color: grey;
    font-size: 14px;
    font-weight: normal;
}

.ann .panel button.styledButton{
    width: 200px;
    margin: 0;
    margin-top: 1em;
}

.rating{
    color: orange;
}

.ann  .rating .reviews{
    color: black;
}


.ann  .colors, .ann  .sizes, .ann .amount span{
    gap: 10px;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}

.ann  .color{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.ann  .color.active, .ann  .size.active{
    box-shadow: 0 0 12px purple;
}

.ann  .color.active{
    border: 2px solid lightgrey;
}

.ann  .size{
    border-radius: 15px;
    cursor: pointer;
    background: lightgrey;
    padding: 7px;
    font-size: 12px;
}

.ann .amount{
    gap: 20px;
}

.ann .amount .amount-value{
    border-radius: 20px;
    background: rgba(180, 135, 180, 0.867);
    width: 7em;
    margin: 0;
}

.ann  .value{
    width: 40%;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: white;
}

.ann  .amount p{
    margin: 0 20px;
    color: white;
}

.ann  .amount button{
    font-size: 20px;
    color: white;
    padding: 5px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 30%;
}

.ann  .amount button.decrease{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--backgroundGradient);
}

.ann  .amount button.increase{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--backgroundGradient);
}


.add-to-cart{
    gap: 2em;
}




.main-announcement .reviews-container{
    width: 100%;
    margin-top: -8em;
    padding: 0;
}

.main-announcement .reviews-container .reviews-user{
    width: var(--panel-width);
}

.main-announcement .review-of-user{
    margin: 15px 0;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
    background: #fefefe;
    border-radius: 20px;
}

.reviews-container .user{
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    align-items: center;
    font-weight: bold;
}

.reviews-container .user .value{
    gap: 15px;
}

.review-of-user button{
    width: fit-content;
    margin: 0;
    padding: 1px 15px;
}

.review-of-user .content{
    margin-top: 5px;
}

.reviews-container textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    outline: none;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    background: rgb(237, 236, 236);
    margin: 5px 0;
}

.review-of-user .button{
    text-align: right;
    margin-top: 5px;
    justify-content: space-between;
}

.review-of-user .star{
    cursor: pointer;
}


.option-button {
    padding: 8px 12px;
    margin: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.option-button.selected {
    background: var(--backgroundGradient);
    color: white;
    border-color: purple;
}
